<link rel="stylesheet" href="../task/template/SystemMonitor.css">
<table class="system-monitor-table">
  <tr class="system-monitor-row">
    <td class="system-monitor-cell">
      {{progress_bar_cpu}}
      <div class="system-monitor-metric-label">CPU: {{cpu_percent}}</div>
    </td>
  </tr>
  <tr class="system-monitor-row">
    <td class="system-monitor-cell">
      {{progress_bar_ram}}
      <div class="system-monitor-metric-label">RAM: {{ram_used}}/{{ram_total}} GB ({{ram_percent}})</div>
    </td>
  </tr>
  <tr class="system-monitor-row">
    <td class="system-monitor-cell">
      {{progress_bar_swap}}
      <div class="system-monitor-metric-label">Swap: {{swap_used}}/{{swap_total}} GB ({{swap_percent}})</div>
    </td>
  </tr>
  <tr class="system-monitor-row">
    <td class="system-monitor-cell">
      {{progress_bar_disk}}
      <div class="system-monitor-metric-label">Disk: {{disk_percent}}</div>
    </td>
  </tr>
  <tr class="system-monitor-row">
    <td class="system-monitor-cell">
      <hr class="system-monitor-separator"/>
    </td>
  </tr>
  <tr class="system-monitor-row">
    <td class="system-monitor-cell">
      {{progress_bar_cores}}
      <div class="system-monitor-metric-label">Cores usage</div>
    </td>
  </tr>
  <tr>
    <td>
      {{processes_list}}
      <div class="system-monitor-metric-label">Processes</div>
    </td>
  </tr>
</table>
