.system-monitor-table {
  width: 100%;
  border-collapse: collapse;
}

div.system-monitor-metric-label {
  margin-top: 6px;
  font-size: 0.9rem;
}

hr.system-monitor-separator {
  border: 0;
  border-top: 2px solid #606060;
  margin: 8px 0;
}
