div.progress-bar-core-container {
  background: var(--bg-color);
  border: 0px;
  height: var(--height);
  overflow: hidden;
}

div.progress-bar-core-fill {
  background: var(--fg-color);
  border: 0px;
  width: var(--usage);
  height: 100%;
}
