table.process-list-table {
  width: 50%;
  border-collapse: collapse;
}

.process-list-table col:nth-child(1) {
  width: 33.33%;
}

.process-list-table col:nth-child(2) {
  width: 33.33%;
  background-color: #333333;
}

.process-list-table col:nth-child(3) {
  width: 33.33%;
}

tr.process-list-header {
  text-align: left;
  border: 1px solid #404040;
}

.process-list-header th {
  font-size: 1.0rem;
}
