.whisper-subtitle-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.whisper-subtitle-table-row {
    border: none;
}

.whisper-subtitle-timestamp {
    text-align: right;
    padding: 0;
    font-family: monospace;
    vertical-align: top;
}

.whisper-subtitle-text {
    padding: 0 0 0 10px;
    vertical-align: top;
}
