<div class="youtube-downloader-card task-result-card">
    <div class="youtube-downloader-section task-result-section">
        <span class="youtube-downloader-label task-result-label">Directory:</span> <code>{{dir_path}}</code>
    </div>
    <div class="youtube-downloader-section task-result-section">
        <span class="youtube-downloader-label task-result-label">Model:</span> {{model}}
    </div>
    <div class="youtube-downloader-section task-result-section">
        <span class="youtube-downloader-label task-result-label">Processed:</span> {{processed}}
    </div>
    <div class="youtube-downloader-section task-result-section">
        <span class="youtube-downloader-label task-result-label">Skipped:</span> {{skipped}}
    </div>
    <div class="youtube-downloader-section task-result-section">
        <span class="youtube-downloader-label task-result-label">Failed:</span> {{failed}}
    </div>
</div>
