<link rel="stylesheet" href="../task/template/YouTubeChannelScannerTaskVideo.css">
<li>
  <a href="{{url}}" target="_blank" rel="noopener" class="yt-video-link">
    <table class="yt-video-table">
      <tr>
        <td class="yt-video-cell" style="--table-bg-color: {{table_bg_color}};">
          <b class="yt-video-title">{{title}}</b>
        </td>
      </tr>
      <tr>
        <td class="yt-video-cell" style="--table-bg-color: {{table_bg_color}};">
          {{duration}} - views: {{views}} - age: {{video_age}}
        </td>
      </tr>
    </table>
  </a>
</li>
