<li>
  <a href="{{url}}" target="_blank" rel="noopener" style="display: block; text-decoration: none; color: inherit;">
    <table style="width: 100%; border-collapse: collapse; padding: 0;">
      <tr>
        <td style="padding: 1px; background-color: {{table_bg_color}};">
          <b style="font-size: 1.1rem;">{{title}}</b>
        </td>
      </tr>
      <tr>
        <td style="padding: 1px; background-color: {{table_bg_color}};">
          {{duration}} - views: {{views}} - age: {{video_age}}
        </td>
      </tr>
    </table>
  </a>
</li>
