td.group-cell {
  padding: 8px;
  vertical-align: top;
  border: 0px;
  width: 1%;
}

h2.group-title {
  margin: 0 0 6px 0;
  padding: 6px;
  border-bottom: 2px solid #ddd;
}

table.group-table {
  border-collapse: collapse;
  width: 100%;
}
