<link rel="stylesheet" href="../task/template/YouTubeChannelScannerTaskChannel.css">
<table class="channel-table">
  <tr>
    <td class="channel-content">
      <div class="channel-header">
        <img src="{{profile_picture}}" alt="Profile Picture" class="profile-pic"/>
        <h2 class="channel-title">
          <a href="https://www.youtube.com/@{{channel}}" target="_blank" class="channel-link">
            {{channel_display_name}} (@{{channel}})
          </a>
        </h2>
      </div>
      {{subscriber_count}} - {{video_count}}<br/>
      <hr class="channel-divider"/>
      <ol class="videos-list">
        {{videos_list}}
      </ol>
    </td>
  </tr>
</table>
